DATABASE_URL=postgresql://postgres.itgcnlqapayqgcloctso:jobmelatkrcet@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres
FRONTEND_URL=https://jobmela.vercel.app
SECRET_KEY=your-django-production-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*
